In [15]:
import pandas as pd
titanic = df = pd.read_csv('c:/Users/Win Technology/Documents/dataset_1_Pynext.csv')#loaded the titanic sataset
print(titanic.shape) #shape,column,dtypes,head,tails,sample 
print(titanic.columns)
print(titanic.dtypes)
print(titanic.head()) 
print(titanic.tail())
print(titanic.sample(5))  
# indexing and slicing
titanic['Pclass']
titanic['Fare']
titanic.head(10)
titanic.tail(5)
titanic.where(titanic['Age'] < 18)
# Filtering
titanic.where(titanic['Fare'] > 50)
print(titanic.query('Pclass = "1st"' and 'Sex == "female"' and 'Survived == " Yes"'))
print(titanic.query('Pclass = "3rd"' and 'Sex == "male"' and' Survived == "No"'))
# Adding/Modifying columns
titanic = df 
df['FamilySize'] = (df['Siblings/Spouses Aboard']+df['Parents/Children Aboard']) + 1
print(df['FamilySize'])
df['Create IsChild'] = df['Age'] < 18
print(df['Create IsChild'])
# Drop and add Rows 
print(df.dropna(subset = ['Age'])) 
df.loc["fictional passenger"] = {"Age": 20, "Pclass": 3 , "Fare": 7.25 , "Survived": "No"}
print(df)
#Grouping and Aggregation
print(df.groupby('Pclass')["Fare"].mean())
print(df.groupby('Sex')["Survived"].count())
#Sorting
df.sort_values(by = 'Fare', ascending = False)
df.sort_values(by = 'Age')

(887, 7)
Index(['Pclass', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare', 'Survived'],
      dtype='object')
Pclass                      object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard      int64
Fare                       float64
Survived                    object
dtype: object
  Pclass     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
0    3rd    male  22.0                        1                        0
1    1st  female  38.0                        1                        0
2    3rd  female  26.0                        0                        0
3    1st  female  35.0                        1                        0
4    3rd    male  35.0                        0                        0

      Fare Survived
0   7.2500       No
1  71.2833      Yes
2   7.9250      Yes
3  53.1000      Yes
4   8.0500       No
    Pclass     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
882    2nd    male  27.0                        0                        0
883    1st  female  19.0                        0                        0
884    3rd  female   7.0                        1                        2
885    1st    male  26.0                        0                        0
886    3rd    male  32.0                        0                        0

      Fare Survived
882  13.00       No
883  30.00      Yes
884  23.45       No
885  30.00      Yes
886   7.75       No
    Pclass     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
287    3rd  female  22.0                        0                        0
727    3rd    male  11.0                        0                        0
241    2nd    male  29.0                        0                        0
655    2nd    male  23.0                        0                        0
357    3rd  female  23.0                        0                        0

        Fare Survived
287   7.7500      Yes
727  18.7875       No
241  10.5000       No
655  13.0000       No
357   7.8792      Yes
    Pclass     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
1      1st  female  38.0                        1                        0
2      3rd  female  26.0                        0                        0
3      1st  female  35.0                        1                        0
8      3rd  female  27.0                        0                        2
9      2nd  female  14.0                        1                        0
..     ...     ...   ...                      ...                      ...
871    3rd  female  15.0                        0                        0
875    1st  female  56.0                        0                        1
876    2nd  female  25.0                        0                        1
883    1st  female  19.0                        0                        0
885    1st    male  26.0                        0                        0

        Fare Survived
1    71.2833      Yes
2     7.9250      Yes
3    53.1000      Yes
8    11.1333      Yes
9    30.0708      Yes
..       ...      ...
871   7.2250      Yes
875  83.1583      Yes
876  26.0000      Yes
883  30.0000      Yes
885  30.0000      Yes

[342 rows x 7 columns]
    Pclass     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
0      3rd    male  22.0                        1                        0
4      3rd    male  35.0                        0                        0
5      3rd    male  27.0                        0                        0
6      1st    male  54.0                        0                        0
7      3rd    male   2.0                        3                        1
..     ...     ...   ...                      ...                      ...
880    3rd    male  25.0                        0                        0
881    3rd  female  39.0                        0                        5
882    2nd    male  27.0                        0                        0
884    3rd  female   7.0                        1                        2
886    3rd    male  32.0                        0                        0

        Fare Survived
0     7.2500       No
4     8.0500       No
5     8.4583       No
6    51.8625       No
7    21.0750       No
..       ...      ...
880   7.0500       No
881  29.1250       No
882  13.0000       No
884  23.4500       No
886   7.7500       No

[545 rows x 7 columns]
0      2
1      2
2      1
3      2
4      1
      ..
882    1
883    1
884    4
885    1
886    1
Name: FamilySize, Length: 887, dtype: int64
0      False
1      False
2      False
3      False
4      False
       ...
882    False
883    False
884     True
885    False
886    False
Name: Create IsChild, Length: 887, dtype: bool
    Pclass     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
0      3rd    male  22.0                        1                        0
1      1st  female  38.0                        1                        0
2      3rd  female  26.0                        0                        0
3      1st  female  35.0                        1                        0
4      3rd    male  35.0                        0                        0
..     ...     ...   ...                      ...                      ...
882    2nd    male  27.0                        0                        0
883    1st  female  19.0                        0                        0
884    3rd  female   7.0                        1                        2
885    1st    male  26.0                        0                        0
886    3rd    male  32.0                        0                        0

        Fare Survived  FamilySize  Create IsChild
0     7.2500       No           2           False
1    71.2833      Yes           2           False
2     7.9250      Yes           1           False
3    53.1000      Yes           2           False
4     8.0500       No           1           False
..       ...      ...         ...             ...
882  13.0000       No           1           False
883  30.0000      Yes           1           False
884  23.4500       No           4            True
885  30.0000      Yes           1           False
886   7.7500       No           1           False

[887 rows x 9 columns]
                    Pclass     Sex   Age  Siblings/Spouses Aboard  \
0                      3rd    male  22.0                      1.0
1                      1st  female  38.0                      1.0
2                      3rd  female  26.0                      0.0
3                      1st  female  35.0                      1.0
4                      3rd    male  35.0                      0.0
...                    ...     ...   ...                      ...
883                    1st  female  19.0                      0.0
884                    3rd  female   7.0                      1.0
885                    1st    male  26.0                      0.0
886                    3rd    male  32.0                      0.0
fictional passenger      3     NaN  20.0                      NaN

                     Parents/Children Aboard     Fare Survived  FamilySize  \
0                                        0.0   7.2500       No         2.0
1                                        0.0  71.2833      Yes         2.0
2                                        0.0   7.9250      Yes         1.0
3                                        0.0  53.1000      Yes         2.0
4                                        0.0   8.0500       No         1.0
...                                      ...      ...      ...         ...
883                                      0.0  30.0000      Yes         1.0
884                                      2.0  23.4500       No         4.0
885                                      0.0  30.0000      Yes         1.0
886                                      0.0   7.7500       No         1.0
fictional passenger                      NaN   7.2500       No         NaN

                    Create IsChild
0                              0.0
1                              0.0
2                              0.0
3                              0.0
4                              0.0
...                            ...
883                            0.0
884                            1.0
885                            0.0
886                            0.0
fictional passenger            NaN

[888 rows x 9 columns]
Pclass
3       7.250000
1st    84.154687
2nd    20.662183
3rd    13.707707
Name: Fare, dtype: float64
Sex
female    314
male      573
Name: Survived, dtype: int64

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Survived,FamilySize,Create IsChild
799,3rd,male,0.42,0.0,1.0,8.5167,Yes,2.0,1.0
751,2nd,male,0.67,1.0,1.0,14.5000,Yes,3.0,1.0
466,3rd,female,0.75,2.0,1.0,19.2583,Yes,4.0,1.0
641,3rd,female,0.75,2.0,1.0,19.2583,Yes,4.0,1.0
77,2nd,male,0.83,0.0,2.0,29.0000,Yes,3.0,1.0
...,...,...,...,...,...,...,...,...,...
115,3rd,male,70.50,0.0,0.0,7.7500,No,1.0,0.0
95,1st,male,71.00,0.0,0.0,34.6542,No,1.0,0.0
490,1st,male,71.00,0.0,0.0,49.5042,No,1.0,0.0
847,3rd,male,74.00,0.0,0.0,7.7750,No,1.0,0.0
627,1st,male,80.00,0.0,0.0,30.0000,Yes,1.0,0.0