In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("c:/Users/Win Technology/Documents/pynext_simple_gradebook.csv")
df

,student_id,name,dept,gender,semester,section,height_cm,weight_kg,att_T1,att_T2,...,ontime_A5,ontime_A6,ontime_A7,marks_A1,marks_A2,marks_A3,marks_A4,marks_A5,marks_A6,marks_A7
0,S0001,Shihab Uddin,EEE,Male,1,A,164.3,66.5,0,0,...,1,1,1,70.3,79.7,76.7,84.7,75.4,83.2,79.0
1,S0001,Shihab Uddin,EEE,Male,1,A,164.3,66.5,0,0,...,1,1,1,70.3,79.7,76.7,84.7,75.4,83.2,79.0
2,S0002,Zara Biswas,CSE,Male,2,B,163.7,75.0,1,0,...,1,0,1,NaN,75.5,80.5,85.4,78.7,70.9,68.5
3,S0003,Jannat Roy,STA,Male,7,C,171.7,66.4,0,0,...,1,1,0,NaN,73.7,NaN,63.3,79.8,85.4,NaN
4,S0004,Mahir Chowdhury,Statistics,Male,8,B,173.6,65.5,1,1,...,1,0,0,75.7,82.3,NaN,83.0,61.5,73.6,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,S0296,Rafi Haque,EEE,F,7,D,159.5,69.1,1,0,...,1,0,0,69.4,75.8,70.6,NaN,65.5,71.5,81.0
297,S0297,Sakib Chowdhury,CSE,Male,6,B,167.7,72.9,1,1,...,1,1,0,NaN,80.5,86.3,67.7,79.1,75.3,NaN
298,S0298,Nishat Barman,STA,Male,6,B,175.2,57.2,0,0,...,1,0,1,NaN,82.1,91.3,92.5,84.1,84.7,98.2
299,S0299,Sadia Roy,MAT,Female,1,C,160.5,50.5,1,0,...,0,1,0,72.3,73.6,66.9,50.3,NaN,71.4,NaN
300,S0300,Ridwan Khan,CSE,Male,1,B,178.4,72.6,1,0,...,0,1,0,71.0,70.9,NaN,72.1,77.5,87.9,55.1

In [5]:
df.shape

(301, 36)

In [6]:
df["student_id"].nunique()

300

In [ ]:
summary = pd.DataFrame({
    "dtype":df.dtypes.astype(str),
    "%missing":df.isna 
})

In [7]:
df["semester"].min()

np.int64(1)

In [8]:
df["semester"].max()

np.int64(8)

In [ ]:
df.groupby("dept")["student_id"].count()

dept
 CSE             5
C.S.E            4
CSE            111
CSE              4
E.E.E            2
EEE             58
EEE              2
ElecEng          2
IPE             11
MAT             17
MEE             13
Mathematics      1
PHY             16
Physics          3
STA             22
SWE             10
SoftwareEng      2
Statistics       3
cse              5
iPe              2
mat              2
mee              1
phy              1
sta              2
swe              2
Name: student_id, dtype: int64

In [10]:
df.groupby("gender")["student_id"].count()

gender
F           4
FEMALE      1
Female    106
M           4
MALE        7
Male      166
Other       4
female      2
male        7
Name: student_id, dtype: int64

In [13]:
# clean categories
def normalize_dept(s):
    s = s.astype(str).str.strip().str.lower()
    mapping = {
        'cse' : "CSE","c.s.e": "CSE",
        "eee":"EEE" , "eleceng": "EEE","e.e.e":"EEE",
        "mat":"MAT","mathmatics":"MAT",
        "sta":"STA","statistics":"STA",
        "phy":"PHY","physics":"PHY",
        "me":"MEE","mee":"MEE",
        "ipe":"IPE","industrial%production":"IPE",
        "swe":"SWE","software":"SWE"
    }
    return s.replace(mapping).str.upper()

In [14]:
df["dept_clean"]=normalize_dept(df["dept"])
df.groupby("dept_clean")["student_id"].count()

dept_clean
CSE            129
EEE             64
IPE             13
MAT             19
MATHEMATICS      1
MEE             14
PHY             20
SOFTWAREENG      2
STA             27
SWE             12
Name: student_id, dtype: int64

In [21]:
def normalize_dept(s):
    s = s.astype(str).str.strip().str.lower()
    mapping = {
        'm':"Male",'f':"Female",
        'FEMALE':"Female",'MALE':"Male",
        'male':"Male",'female':"Female"
    }
    return s.replace(mapping).str.capitalize()

In [22]:
df["dept_clean"] = normalize_dept(df["gender"])
df.groupby("dept_clean")["student_id"].count()

dept_clean
Female    113
Male      184
Other       4
Name: student_id, dtype: int64

In [23]:
df["weight_kg"].max()

np.float64(180.0)

In [24]:
df["weight_kg_clean"]=df["weight_kg"].where((df["weight_kg"]>=30)&(df["weight_kg"]<=120))
df["weight_kg_clean"].max()

np.float64(95.0)

In [28]:
#helper_lists
att_cols = [c for c in df.columns if c.startswith("att_T")]

In [29]:
att_cols

['att_T1', 'att_T2', 'att_T3', 'att_T4', 'att_T5', 'att_T6', 'att_T7']

In [32]:
df["attendance_rate"]=df[att_cols].mean(axis = 1) 
df["attendance_rate"].mean()

np.float64(0.7100142382534409)

In [38]:
df["final_score"]=df["attendance_rate"]+df["avg_marks_without_miss"]
df["final_score"]

KeyError: 'avg_marks_without_miss'